.friendMessage {
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    flex-flow: row;
    align-self: flex-start;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.friendText {
    display: flex;
    flex-flow: column;
    background: #F5F7FB;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
}

.friendName {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    align-self: flex-start;

}

.friendMessageText {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    align-self: flex-start;

}

.friendText:after {
    content: '';
    position: relative;
    left: -28px;
    bottom: -10px;
    border: 20px solid transparent;
    z-index: -1;
    border-bottom: 20px solid #F5F7FB;

}

.friendTime {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    align-self: flex-start;
    margin-left: 12px;
    margin-bottom: 20px;


}
