.button {
    width: 128px;
    height: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    outline:none;
}

.disabled {
    background: #004D99;
    color: #002E5C;
    opacity: 0.5;
}

.secondary {
    background: #FFFFFF;
    color: #0066CC;
    border: 1px solid #0066CC

}

.default {
    background: #0066CC;
    color: #FFFFFF;
    border: 1px solid #0066CC
}

.red {
    background: #CC1439;
    color: #FFFFFF;
    border: 1px solid #CC1439
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    color: #C9E5FF;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B21232;
}

.button:disabled {
    background: #004D99;
}
